<div class="custom-form-card">
    <form class="custom-form-grid md:grid-cols-12">
        <div class="custom-form-field md:col-span-6">
            <label appLabel for="schoolPeriod" label="Perido Lectivo" [field]="formData.schoolPeriod"></label>

            <p-select
                dataKey="id"
                [options]="schoolPeriods()"
                [formField]="$any(formData.schoolPeriod)"
                optionLabel="name"
                pTooltip="Periodo Lectivo"
                [filter]="false"
                filterBy="name"
                [disabled]="true"
                placeholder="Seleccione un periodo lectivo..."/>
        </div>

        <div class="custom-form-field md:col-span-6">
            <label appLabel for="career" label="Carrera" [field]="formData.career"></label>

            <p-select
                dataKey="id"
                [options]="careers()"
                [formField]="$any(formData.career)"
                optionLabel="name"
                pTooltip="Carreras"
                [filter]="false"
                filterBy="name"
                placeholder="Seleccione una carrera..."/>
        </div>

        <div class="custom-form-field md:col-span-4">
            <label
                appLabel
                for="academicPeriod"
                label="Periodo academico"
                [field]="formData.academicPeriod"></label>

            <p-select
                dataKey="id"
                [options]="academicPeriods()"
                [formField]="$any(formData.academicPeriod)"
                optionLabel="name"
                pTooltip="Semestre"
                [filter]="false"
                filterBy="name"
                [disabled]="true"
                placeholder="Seleccione un semestre..."/>
        </div>

        <div class="custom-form-field md:col-span-4">
            <label appLabel for="workday" label="Horario" [field]="formData.workday"></label>

            <p-select
                dataKey="id"
                [options]="workdays()"
                [formField]="$any(formData.workday)"
                optionLabel="name"
                pTooltip="Horario"
                [filter]="false"
                filterBy="name"
                placeholder="Seleccione un horario...">
            </p-select>
        </div>

        <div class="custom-form-field md:col-span-4">
            <label appLabel for="parallel" label="Paralelo" [field]="formData.parallel"></label>
            <p-select
                dataKey="id"
                [options]="parallels()"
                [formField]="$any(formData.parallel)"
                optionLabel="name"
                pTooltip="Paralelo"
                [filter]="false"
                filterBy="name"
                placeholder="Seleccione un paralelo..."/>
        </div>

        <div class="custom-form-section md:col-span-12">
            <h3>Total Asignaturas: {{ formData.enrollmentDetails().value()?.length ?? 0 }}</h3>
        </div>
    </form>
</div>

<p-table
    #dt
    stripedRows
    [value]="items()"
    dataKey="id"
    selectionMode="multiple"
    [tableStyle]="{ 'min-width': '50rem' }"
    [(selection)]="formData.enrollmentDetails().value">
    <ng-template #caption>
        <div class="custom-form-grid">
            <div class="custom-form-grid md:grid-cols-12">
                <div class="custom-form-field md:col-span-9">
                    <h2>Listado de Asignaturas</h2>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th style="width:4rem">
                <p-tableHeaderCheckbox/>
            </th>
            <th>Código</th>
            <th>Nombre</th>
        </tr>
    </ng-template>

    <ng-template #body let-item>
        <tr>
            <td>
                <p-tableCheckbox [value]="item"/>
            </td>
            <td>{{ item.code }}</td>
            <td>{{ item.name }}</td>
        </tr>
    </ng-template>

    <ng-template #footer>
        <tr>
            <td colspan="6">En total existen {{ items() ? items().length : 0 }} items.</td>
        </tr>
    </ng-template>
</p-table>
