<div class="custom-form-card">
    <div class="custom-form-field md:col-span-6 md:col-start-4">
        <app-application-form />
    </div>


    <div class="md:col-span-6 md:col-start-4 flex w-full justify-between pt-6">
        <p-button label="Regresar" [icon]="CustomIcons.ARROW_LEFT_SOLID" (click)="previous()">
        </p-button>

        <p-button type="submit" label="Guardar y Continuar" [icon]="CustomIcons.FLOPPY_DISK_SOLID"
            (onClick)="onSubmit()">
        </p-button>
    </div>
</div>
