<div>
    <p-stepper [value]="actualPage()" [linear]="true">
        <!-- [linear]="true" -->
        <p-step-list>
            <p-step [value]="1">Datos Personales</p-step>
            <p-step [value]="2">Solicitud de Matricula</p-step>
            <p-step [value]="3">Subir Archivos</p-step>
            <p-step [value]="4">Certificado de inscripción</p-step>
        </p-step-list>
        <p-step-panels>
            <p-step-panel [value]="1">
                <ng-template #content let-activateCallback="activateCallback" let-value="value">
                    @if (actualPage() == 1) {
                        <app-personal-information/>
                    }
                </ng-template>
            </p-step-panel>
            <p-step-panel [value]="2">
                <ng-template #content let-activateCallback="activateCallback" let-value="value">
                    @if (actualPage() == 2) {
                        <app-application-container/>
                    }
                </ng-template>
            </p-step-panel>
            <p-step-panel [value]="3">
                <ng-template #content let-activateCallback="activateCallback" let-value="value">
                    @if (actualPage() == 3) {
                        <app-enrollment-attachment/>

                    }
                </ng-template>
            </p-step-panel>
            <p-step-panel [value]="4">
                <ng-template #content let-activateCallback="activateCallback" let-value="value">
                    @if (actualPage() == 4) {
                        <app-report-enrollment/>
                    }
                </ng-template>
            </p-step-panel>
        </p-step-panels>
    </p-stepper>
</div>
